.stepFour {
    margin-top: 40px;
    &-title {
      color: @black;
      font-size: 1.75em;
      margin: 0;
      margin-bottom: 24px;
      font-weight: 600;
    }
    &-sub {
      color: @black;
      font-size: 1.5em;
      margin-bottom: 32px;
    }
    &-shemas {
      margin-bottom: 48px;
      &-item {
        padding: 40px;
        background: #fafafa;
        margin-bottom: 24px;
        &-title {
          margin: 0;
          margin-bottom: 16px;
          color: #545454;
          font-size: 16px;
          font-weight: 600;
        }
        &-list {
          color: @black;
          font-size: 1.25em;
        }
        &-rec {
          &-link {
            text-decoration: none;
            color: @black;
            font-size: 1.25em;
            border-bottom: 1px dashed @black;
            display: table;
            margin-top: 10px;
          }
        }
        &-text {
          color: @black;
          font-size: 1.25em;
        }
      }
      &-item:last-child {
        background: #f6f4e9;
        position: relative;
      }
    }
    &-publications {
      &-title {
        font-size: 1.5em;
        margin-bottom: 16px;
      }
      &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(293px, 373px));
        grid-auto-rows: 270px;
        gap: 20px;
        @media (max-width: 1400px) {
          grid-template-columns: repeat(3, 276px);
          grid-auto-rows: auto;
        }
        @media (max-width: 1023px) {
          grid-template-columns: repeat(2, 310px);
        }
  
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, 383px);
        }
        @media (max-width: 380px) {
          grid-template-columns: repeat(1, 338px);
        }
        @media (max-width: 320px) {
          grid-template-columns: repeat(1, 288px);
        }
        &-item {
          background: #fafafa;
          padding: 24px;
          &-uptext {
            color: @black;
            font-size: 16px;
            text-decoration: none;
          }
          &-middle {
            color: #777777;
            margin-top: 8px;
            margin-bottom: 8px;
          }
          &-links {
            display: flex;
            @media (max-width: 1400px) {
              display: initial;
            }
            @media (max-width: 767px) {
              display: inline-grid;
              text-align: center;
            }
            &-item {
              @media (max-width: 1400px) {
                display: inline-block;
              }
              display: block;
              background: @black;
              color: #fff;
              border-radius: 8px;
              padding: 5px 15px;
              font-size: 14px;
              text-decoration: none;
              transition: 0.3s ease-in-out;
              border: 1px solid transparent;
            }
  
            &-item:hover {
              border: 1px solid @black;
              transition: 0.3s ease-in-out;
              background: transparent;
              color: @black;
            }
            &-item:last-child {
              margin-left: 8px;
              @media (max-width: 1400px) {
                margin-left: 0;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
  
  .last-title-special {
    position: relative;
    margin-left: 25px;
  }
  .last-title-special:before {
    content: "";
    height: 23px;
    width: 23px;
    background-image: url(../img/alert.svg);
    position: absolute;
    left: -29px;
    top: -5px;
  }
  //блок вывда ошибки о незаполенном поле
  .errMessage {
    display: none;
  }
  
  .paginationForLastStep {
    margin-bottom: 80px;
    @media (max-width: 450px) {
      margin-bottom: 40px;
    }
  }
  