<div class="main-container-header" id="stkheader">
  <div class="main-container-header-logo">
    <a href="../index.html"><img src="./img/Logo.svg" alt="logo" /></a>
    <span class="main-container-header-enter-logo-subtext"
    >Поиск наилучшего лечения для онко-пациента</span
    >
  </div>
  <a class="main-container-header-enter" href="#">
    <img src="./../img/user-circle.svg" alt="" class="userImage" />
    <span class="main-container-header-enter-btn">Войти</span>
  </a>
</div>
