<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./img/tab.ico" />
    <title>OncoTriage</title>
  </head>
  <body>
    <%= require('./component/_header.ejs')() %>
    <%=require('./component/_auth.ejs')() %>
    <div class="main-container">
      <div class="stepOne">
        <h2 class="stepOne-title">Шаг 1: Выберите диагноз</h2>
        <div class="stepOne-container">
          <a class="stepOne-container-item" href="step2.html">
            <h3 class="stepOne-container-item-title">
              C90 Множественная миелома
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              C90.10 Плазмоклеточный лейкоз
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              C25 Рак поджелудочной железы
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              Название диагноза в несколько строк или больше
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              Название диагноза в две строки
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              Название диагноза в две строки
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <div class="stepOne-container-item">
            <h3 class="stepOne-container-item-title">
              Название диагноза в две строки
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </div>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              Название диагноза в две строки
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
          <a class="stepOne-container-item" href="">
            <h3 class="stepOne-container-item-title">
              Название диагноза в несколько строк или больше
            </h3>
            <span class="stepOne-container-item-choosebtn">Выбрать</span>
          </a>
        </div>
        <div class="stepOne-pagination">
          <a class="stepOne-pagination-item stepOne-pagination-active">1</a>
          <a class="stepOne-pagination-item">2</a>
          <a class="stepOne-pagination-item">3</a>
          <a class="stepOne-pagination-item">4</a>
          <a class="stepOne-pagination-item">5</a>
        </div>
        <%= require('./component/_footer.ejs')() %>
      </div>
    </div>
  </body>
</html>
